@{
    ViewBag.Title = "Home Page";
}

<div>
    @(HttpContext.Current.User.Identity.IsAuthenticated == true ?
          Html.Label($"Welcome {HttpContext.Current.User.Identity.Name}") : Html.Label("Please login"))
</div>