<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="active">
            <a href="@Url.Action("Index", "Home")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span> Home</a>
        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-male fa-stack-1x "></i></span> Customers</a>
        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-key fa-stack-1x "></i></span> Register Customer</a>
        </li>
        <li >
            <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Cars</a>
        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Add car</a>
        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-history fa-stack-1x "></i></span> Rental History</a>
        </li>
        <li >
            <a href="@Url.Action("Login", "Account")"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in fa-stack-1x "></i></span>Login</a>
        </li>
    </ul>
</div>